@font-face {
	font-family: 'Inter1';
	font-weight: 100 900;
	font-style: oblique 0deg 10deg;
	src: url('fonts/Inter.var.ttf');
}

@font-face {
	font-family: 'Inter2';
	font-weight: 100 900;
	font-style: oblique 0deg -10deg;
	src: url('fonts/Inter.var.ttf');
}

@font-face {
	font-family: 'RecVF';
	font-weight: 300 1000;
	font-style: oblique 0deg 15deg;
	src: url('fonts/Recursive_VF_1.034--subset_range_english_basic.woff2');
}

:root {
	--pad: 2.5vw;
}

html {
	box-sizing: border-box;
	font-family: 'Inter1', fantasy;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	width: 100vw;
}

main {
	padding: var(--pad);
	margin: 0 auto calc(2 * var(--pad));
}

h1 {
	font-weight: 900;
	font-variation-settings: 'CASL' 1;
}

p, li {
	max-width: 70ch;
	line-height: 1.5;
}

a {
	color: inherit;
}

.centered-col {
	margin: 0 auto;
	max-width: 760px;
}

.tests {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: var(--pad);
	margin: calc(2 * var(--pad)) 0;
	padding: calc(2 * var(--pad)) 0;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}

.test-text {
	font-size: 2rem;
}

.positive-oblique, .results {
	font-family: 'Inter1', fantasy;
}

.negative-oblique {
	font-family: 'Inter2', fantasy;
}

pre {
	padding: 0.5em;
}

h1 code, h2 code, h3 code, p code, li code {
	padding: 0 0.125em;
}

code, pre {
	font-family: 'RecVF', monospace;
	font-variation-settings: 'MONO' 1, 'CASL' 1;
	border-radius: 0.125em;
	background: #dcecff;
	box-sizing: border-box;
	overflow-x: auto;
}


/* test CSS */

.italic {
	font-style: italic;
}

.oblique {
	font-style: oblique 10deg;
}
.oblique-only {
	font-style: oblique;
}

.oblique-neg {
	font-style: oblique -10deg;
}

.var-slnt {
	font-variation-settings: 'slnt' -10;
}

/* footer */

footer {
	width: 100vw;
	padding: var(--pad);
	background: black;
	color: #ccc;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: var(--pad);
}

.colophon {
	color: #888;
}